/* Paleta
- 393d3f
- fdfdff
- c6c5b9
- 62929e
*/


body {
    background-color: #393d3f;
    color: #fdfdff;
    font-family: Hack, monospace;
    margin: 0;
    padding: 0;
    height: 90vh;
    /* background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%); */
    /* background-image: radial-gradient(rgba(216, 0, 0, 0.75), black 120%);*/
    /*background-image: radial-gradient(rgba(153, 57, 124, 0.75), black 120%);*/
    background-image: radial-gradient(rgb(3 54 63 / 75%), black 120%);

}

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 1em auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.container {
    width: 50%;
    height: 30%;
    /*Centering*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-overflow: none;
    cursor: pointer;
    text-decoration: none;
    text-shadow: black 5px 5px 5px;
    color: #fdfdff;
}

#contactBox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 15%;
    background-image: radial-gradient(rgb(122, 2, 76), rgb(163, 36, 125) 120%);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    text-align: center;
}

/* Dodany plik CSS dla siatki */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Automatyczna liczba kolumn */
    gap: 20px;
    /* Odstępy między elementami siatki */
    max-width: 1200px;
    /* Maksymalna szerokość siatki */
    margin: 0 auto;
    /* Wycentrowanie siatki */
    padding: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    /* Dodane: elementy zdjęcia i tekst będą w kolumnie */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    /* Zdjęcia nie wychodzą poza kontener */
    padding: 10px;
    /* Dodane: wyrównanie zdjęć */
}

.grid-item img {
    width: 100%;
    /* Zdjęcia mają szerokość 100% kontenera */
    height: auto;
    /* Automatycznie zachowują proporcje */
    object-fit: cover;
    /* Zdjęcia zachowują proporcje i wypełniają kontener */
}

.grid-item h2,
h1,
h3,
h4,
p {
    margin: 10px 0;
    text-align: center;
    color: #fdfdff;
    /* Kolor tekstu */
}
