body{
    background-color: #252525;
}

img{
    border-radius: 25px;
}
img:hover{
    background-color: rgba(115, 114, 110, 0.1);
}

h1,h2,h3, p{
    font-family: monospace;
    color: whitesmoke;
}

/* .links{
    display: inline-block;
    border-radius: 25px;
    position: fixed;
    background-color: #292929;
    width: 150px;
    height: 340px;
    margin-top: -140px;
    right: 15px;
    box-shadow: 5px 5px 5px black;
} */

.vertical-menu {
    position: relative;
    border-radius: 25px;
    background-color: #292929;
    box-shadow: 5px 5px 5px black;
    width: 73px;
    float: right;
    bottom: 265px;
}

.vertical-menu a {
    background-color: #292929;
    color: black;
    border-radius: 25px;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color:rgba(115, 114, 110, 0.1)
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

.mainBlock{
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    width: 60%;
    height: 40%;
    background-color: #292929;
}

.linkImage{
    position: relative;
    padding-left: 33%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
}